<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZqlChart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    
    
    <bindings>
      <netTcpBinding>
        <binding name="ZqlChartNetTcpBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <!-- SERVER -->
    <services>
      <service name="ZqlChartServer.ZqlChartService">
        <endpoint
           address="service"
           binding="netTcpBinding" 
           bindingConfiguration="ZqlChartNetTcpBinding"
           contract="ZqlChartInterfaces.IZqlChartService"
           name="TcpBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/ZqlChartService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <!-- CLIENT -->
    <client>
      <endpoint
                binding="netTcpBinding"
                bindingConfiguration="ZqlChartNetTcpBinding"
                contract="ZqlChartInterfaces.IZqlChartService"
                name="ZqlChartClientTcpBinding" />
    </client>
  </system.serviceModel>
  <userSettings>
  </userSettings>
</configuration>